.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
    background-color: #f0f2f5;
    margin: 0;
    box-sizing: border-box;
  }
  